@import "reset.css";

* {
    box-sizing: border-box;
}

.subscr-plan-table {
    --table-border-radius: 10px;
    --column-width: 180px;

    font-family: 'Open Sans', sans-serif;
    margin: 2rem;
}

.table-header {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.table-header th:nth-child(n+2) {
    width: var(--column-width);
}

.main-header {
    position: relative;
    top: 3rem;
}

.header-column1 {
    background-color: #7887ac;
    padding: 0 2rem;
    border-top-left-radius: var(--table-border-radius);
}

.header-column2 {
    background-color: #4f628e;
}

.header-column3 {
    background-color: #2f4272;
}

.header-column4 {
    background-color: #162955;
}

.header-column5 {
    background-color: #06153a;
    border-top-right-radius: var(--table-border-radius);
}

.plan-name {
    padding: 1em;
    text-align: center;
    text-transform: lowercase;
}

.plan-price {
    font-size: 2.5rem;
    padding-top: 1rem;
}

.plan-period {
    padding: 1rem;
    text-transform: lowercase;
}